{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Dog List</h1>
    <a href="{% url 'add_dog' %}" class="btn btn-primary mb-3">Add New Dog</a>
    <ul class="list-group">
        {% for dog in dogs %}
        <li class="list-group-item">
            {% if dog.photo %}
                <img src="{{ dog.photo.url }}" alt="{{ dog.name }}" width="100" class="img-thumbnail">
            {% endif %}
            <h2>{{ dog.name }}</h2>
            <p><strong>Breed:</strong> {{ dog.breed }}</p>
            <p><strong>DOB:</strong> {{ dog.dob }}</p>
            <p><strong>Age:</strong> {{ dog.age }}</p>
            <p><strong>Gender:</strong> {{ dog.get_gender_display }}</p>
            <p><strong>Size:</strong> {{ dog.get_size_display }}</p>
            <p><strong>Energy Level:</strong> {{ dog.get_energy_level_display }}</p>
            <p><strong>Temperament:</strong> {{ dog.get_temperament_display }}</p>
            <p><strong>Address:</strong> {{ dog.address }}</p>
            <p><strong>Vaccinated:</strong> {{ dog.vaccination_status }}</p>
            <p><strong>Bio:</strong> {{ dog.bio }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
