{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - PawsMeetup{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
   
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="text-center mb-4">{{dog.name}}, Profile</h1>
            <p class="text-center">Owner Name:<strong>{{ user.owner.username}}</strong>!</p>
            <div class="profile-picture">
                {% if dog %}
                    {% if dog.photo %}
                        <img src="{{ dog.photo.url }}" alt="{{ dog.name }}" class="img-fluid rounded-circle">
                    {% else %}
                        <img src="{% static 'images/default_dog_image.jpg' %}" alt="Default Dog" class="img-fluid rounded-circle">
                    {% endif %}
                {% else %}
                    <img src="{% static 'images/default_dog_image.jpg' %}" alt="Default Dog" class="img-fluid rounded-circle">
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            {% if dog %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ dog.name }}</h5>
                        <p><strong>Breed:</strong> {{ dog.breed.name }}</p>
                        <p><strong>Date of Birth:</strong> {{ dog.dob }}</p>
                        <p><strong>Gender:</strong> {{ dog.gender }}</p>
                        <p><strong>Size:</strong> {{ dog.size }}</p>
                        <p><strong>Energy Level:</strong> {{ dog.energy_level }}</p>
                        <p><strong>Temperament:</strong> {{ dog.temperament }}</p>
                        <p><strong>Address:</strong> {{ dog.address }}</p>
                        <p><strong>Vaccination Status:</strong> {{ dog.vaccination_status|yesno:"Yes,No" }}</p>
                        <p><strong>Bio:</strong> {{ dog.bio }}</p>
                        <div class="d-flex justify-content-center mt-4">
                            <a href="#" class="btn btn-success">Chat</a>
                        </div>                        
                        
                    </div>
                </div>
            {% else %}
               <h4> DOG NOT FOUND<h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
