{% extends 'base.html' %}
{% load static %}

{% block title %}Feeds - PawsMeetup{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/feeds.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4"><strong>Feeds</strong></h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'post_create' %}" class="btn btn-primary btn-sm">Add Post</a>
    </div>

    {% for post in posts %}
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center">
            <img src="{% url 'get_profile_photo' post.user_id %}" alt="User Profile" class="rounded-circle">
            <div class="ml-2">
                {% comment %} <a href="/dogs/profile/{{ post.user.id }}/" class="text-dark"> {% endcomment %}
                    <strong>{{ post.user.username }}</strong>
                <p class="text-muted mb-0" style="font-size: 0.9rem;">Posted on {{ post.create_at }}</p>
            </div>
        </div>

        <div class="card-body">
            {% if post.content %}
                <p class="card-text">{{ post.content }}</p>
            {% endif %}
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
            {% endif %}
            {% if post.video %}
                <video controls class="w-100">
                    <source src="{{ post.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'like' post.pk %}" class="btn btn-outline-secondary btn-sm">
                    Like <span class="badge badge-light">{{ post.likes.count }}</span>
                </a>
                <a href="{% url 'comment_create' post.pk %}" class="btn btn-outline-primary btn-sm">Comment</a>
            </div>
            {% if post.user == request.user %}
                <a href="{% url 'post_delete' post.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
